.tdf-component {
    form {
        min-width: 400px;

        .field-container {
            width: 100%;
            mat-form-field {
                width: 100%;
            }
        }
    }
}

.align-center {
    display: flex;
    justify-content: center;
}