.reactive-form-component {
    background-color: #a3a3a3;
    height: 100%;
    form {
        width: 400px;
        padding-top: 2rem;

        .field-container {
            width: 100%;
            mat-form-field {
                width: 100%;
            }
        }
    }
}

.align-center {
    display: flex;
    justify-content: center;
}