<!-- <div class="overlay" overlay></div> -->
<app-header [headerInfo]="headerData">
</app-header>
<app-nav [navList]="navList" [selected]="selectedNav" (navigate)="handleNavigate($event)"></app-nav>
<div class="container">
  <router-outlet></router-outlet>
  <!-- <ng-container [ngSwitch]="selectedNav?.id">
    <ng-container *ngSwitchCase="'toggle'">
      <app-toggle></app-toggle>
    </ng-container>
    <ng-container *ngSwitchCase="'tdf'">
      <app-tdf></app-tdf>
    </ng-container>
    <ng-container *ngSwitchCase="'rf'">
      <app-reactive-form></app-reactive-form>
    </ng-container>
  </ng-container> -->
  <!-- Custom Pipe example with Bytes to formatted file size 
  <p *ngFor="let f of fileSizes">{{ f | formatFileSize }}</p>

  <p>{{ largeFileSize | formatFileSize: true }}</p>-->


</div>

