
.show {
    display: block;
}

.hide {
    display: none;
}

.inputStyle {
    padding: .5rem;
    border-radius: .3rem;
    font-size: 20px;
    margin-top: 1rem;
    outline: none;
    border: solid 2px;
}